.section
{
	.scores
	{
		> div
		{
			gap: 3em 0;
		}

		.score-item
		{
			margin: 0;
			
			em
			{
				font-weight: 500;
				text-transform: uppercase;
				display: block;
				font-style: normal;
			}
		
			strong
			{
				display: block;
				font-size: 1.4em;
				font-weight: normal;
			}
		}
	}
}