section.tables
{
	display: flex;
	flex-direction: column;
	gap: 3.2em;

	> section
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 3.2em 6.4em;


		> article
		{
			flex: 1 1 0;
		}
	}
}



section.tables
{
	/**
	
	// TODO: Cambiar el scroll a la tabla dejando fuera el titulo
	
	*/

	article
	{
		text-align: center;

		> footer
		{
			text-align: right;

			[icon="more"]
			{
				font-weight: bold;
			}
		}

		table
		{
			@each $color, $value in $theme-colors
			{
				&[variant="#{$color}"]
				{
					td
					{
						background-color: rgba($value, 0.1);
					}
				}

				th.important.table-#{$color}
				{
					color: $value;
					background-color: transparent;
				}

				td.important.table-#{$color}
				{
					background-color: $value;
					color: $i-fifth;
				}
			}
		}

		th.important,
		td.important
		{
			transform: translateX(-0.8em);
			transform-origin: right;
			transition: 0.3s linear;
			border-radius: 0.4em;

			a
			{
				pointer-events: none;
			}
		}

		td.important
		{
			font-weight: normal;
			
			&:hover
			{
				cursor: pointer;
				transform: scale(1.2);
			}
		}

		th.expanded,
		td.expanded
		{
			width: 100%;
			text-align: left;
		}

		th.highlighted,
		td.highlighted
		{
			font-weight: 900;
		}

		th.important,
		th.highlighted
		{
			font-size: 1.2em;
		}


		table
		{
			border-collapse:separate; 
			border-spacing: 0 1em;
			white-space: nowrap;
			margin: 0;

			thead
			{
				text-transform: uppercase;
				font-weight: 700;

				> tr
				{
					th
					{
						padding: 0.8em 1.2em;
					}
				}
			}

			tbody
			{
				font-size: 1.2em;

				> tr
				{
					> td
					{
						vertical-align: middle;
						padding: 0.6em 1.2em;

						&:first-of-type
						{
							border-radius: 0.4em 0 0 0.4;
						}

						&:last-of-type
						{
							border-radius: 0 0.4em 0.4em 0;
						}

						.timeline
						{
							> span
							{
								display: block;
								position: relative;
								text-align: left;
								line-height: 0.8em;
								text-transform: capitalize;
	
								&:not(:last-of-type)
								{
									margin-bottom: 0.6em;
								}
	
								&::before
								{
									content: '';
									position: absolute;
									top: 0;
									right: 100%;
									border-radius: 50%;
									padding: 0.2em;
									margin-right: 0.4em;
									background-color: $i-primary;
									border: 0.2em solid $i-primary;
								}
	
								&:not(:first-of-type)::before
								{
									background-color: transparent;
								}
	
								&:not(:last-of-type)::after
								{
									content: '';
									position: absolute;
									top: 0;
									right: 100%;
									margin-right: 0.7em;
									margin-top: 0.8em;
									width: 0.2em;
									height: 100%;
									background-color: $i-primary;
								}
							}
						}
					}
				}
			}
		}
	}
}