footer.frame
{
	overflow: hidden;
	color: $i-fifth;
	text-align: center;

	&::before
	{
		opacity: 0.9;
	}

	> article
	{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		padding: 2em;
		flex-grow: 5;
		display: flex;
		flex-direction: column;
		align-items: center;

		> header
		{
			[brand]
			{
				font-size: 4em;
			}
	
			[social]
			{
				font-size: 1.2em;
				display: flex;
				justify-content: center;
				gap: 1em;
				margin: 1em;
			}
		}

		> nav
		{
			margin: 2em;
			border: 0;

			> ul
			{
				flex-wrap: wrap;
				margin: auto;

				li
				{
					text-transform: none;
					font-size: 1em;
				}
			}
		}
	}

	> address
	{
		margin: 0;
		float: right;
		text-align: left;
		flex-direction: column;
		display: flex;
		
		> p
		{
			flex-direction: column;

			@each $color, $value in $theme-colors
			{
				&[variant=#{$color}]
				{
					background-color: $value;
				}
			}

			svg
			{
				display: block;
				margin-bottom: 0.4em;
			}

			> img
			{
				height: 6.4em;
			}
		}
	}
}