header.frame
{
	.dropdown-toggle::after
	{
		display: none;
	}

	.fixed-top
	{
		position: fixed;
	}

	&[active],
	&[menu]
	{
		[icon="kusama"]::after
		{
			opacity: 0;
		}
	}

	&:not([active])
	{
		.navbar.section::before
		{
			opacity: 0;
		}
	}

	.section.navbar
	{
		.navbar-visible
		{
			flex-direction: row;
			flex: 1;
		}
	}

	.navbar-collapse:not(.show)
	{
		background-color: transparent;
	}

	.navbar-collapse.show
	{
		padding: 1em 2em;
	}

	.navbar-nav
	{
		align-items: center;
	}

	.navbar-nav:not(.tools)
	{
		gap: 2em;
	}

	.navbar-nav.tools
	{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.b-dropdown
	{
		a
		{
			color: inherit;
		}
	}

	.navbar-collapse.show
	{
		.navbar-nav
		{
			gap: 0;
			align-items: flex-start;
		}

		.b-nav-dropdown .dropdown-menu
		{
			margin-top: 0;
		}

		.b-dropdown
		{
			flex-direction: column;

			.dropdown-menu
			{
				position: relative;
			}
		}

		.navbar-nav.tools
		{
			margin-top: 4em
		}
	}
	

	.nav-item
	{
		font-size: 1em;
	}

	.nav-link
	{
		font-weight: normal;
		opacity: 0.75;

		&:hover
		{
			opacity: 1;
		}
	}

	[brand]
	{
		font-size: 3em;
	}

	.navbar-toggler
	{
		border-radius: 0;
		border: 0;
		align-self: stretch;
	}

	[icon="kusama"]
	{
		position: relative;
		font-family: $i-font-secondary-mono;
		font-weight: 400;
		white-space: nowrap;

		&::after
		{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $i-fifth;
			opacity: 15%;
			filter: blur(0.5em) saturate(200%);
		}
	}

	[icon]::before
	{
		margin-right: 0.5em;
	}

}