.ads-section
{
	display: flex;
	gap: 3em;
	
	&::before
	{
		opacity: 0.2;
	}
	
	// TODO: Change to ad types
	.ad:nth-child(1)
	{
		margin: -3em 0;
		padding: 3em 0em;
		flex: 1;

		&::before
		{
			opacity: 0.2;
		}
	}

	.ad:nth-child(2)
	{
		line-height: 0;
		overflow: hidden;

		&::before
		{
			z-index: 1;
			opacity: 15%;
		}

		// TODO: Move to effects
		.ad-banner
		{
			filter: grayscale(1);
			transition: 0.3s linear;
		}

		&:hover
		{
			&::before
			{
				z-index: -1;
			}

			.ad-banner
			{
				filter: grayscale(0);
			}
		}
	}
}