.section
{
	position: relative;

	/* Background full width */
	&::before
	{
		content: '';
		position: absolute;
		top: 0;
		width: 100vw;
		height: 100%;
		z-index: -1;
	}

	&:not([pos])::before
	{
		left: 50%;
		transform: translate(-50%);
	}

	&[unfill]::before
	{
		width: 100%;
	}

	&[pos="right"]::before
	{
		right: 0;
	}

	&[pos="left"]::before
	{
		left: 0;
	}

	&.section-header
	{
		&::before
		{
			opacity: 50%;
		}

		/* Background image full width */
		&[background]::after
		{
			content: '';
			background-size: cover;
			background-position: center;
			position: absolute;
			top: 0;
			left: 50%;
			width: 100vw;
			height: 100%;
			transform: translate(-50%);
			z-index: -2;
		}

		/* Background image full width variants */
		&[background="cubes"]::after
		{
			background-image: url('assets/images/backgrounds/cubes.png');
		}

		&[type="unfill"]
		{
			padding-top: 6em;
		}
	}
	
	@each $color, $value in $theme-colors
	{
		&[color="#{$color}"]::before
		{
			background-color: $value;
		}
	}

	@each $color, $value in $theme-gradients
	{
		&[color=#{$color}]::before
		{
			background: $value;
		}
	}
}