.table-wrap
{
	overflow: auto;
}

table.pretty-table
{
	border-collapse:separate; 
	border-spacing: 0 1em;
	white-space: nowrap;
	margin: 0;
	background-color: transparent;

	thead
	{
		text-transform: uppercase;
		font-weight: 700;
	}

	tbody
	{
		font-size: 1.2em;
	}

	td,
	th
	{
		vertical-align: middle;
		padding: 0.6em 1.2em;

		// &.important
		// {
		// 	transform: translateX(-0.8em);
		// 	transform-origin: right;
		// }

		&.expanded
		{
			width: 100%;
			text-align: left;
		}

		&.highlighted
		{
			font-weight: 900;
		}
	}

	th
	{
		&.important
		{
			font-weight: 900;
			font-size: 1.2em;
			background-color: transparent;
		}

		&.highlighted
		{
			font-size: 1.2em;
		}
	}

	td
	{
		&.important
		{
			position: relative;
			background-color: transparent !important; // FIX: Remove important
			padding-right: 2.4em;
			transition: 0.3s linear;
			color: $i-fifth;

			&:hover
			{
				cursor: pointer;
				transform: scale(1.2);

				a:hover
				{
					color: inherit;
				}
			}

			&::before
			{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				width: 95%;
				height: 100%;
			}
		}
	}

	@each $color, $value in $theme-colors
	{
		&[variant="#{$color}"]
		{
			td
			{
				background-color: rgba($value, 0.1);
			}
		}

		th.important.table-#{$color}
		{
			color: $value;
		}

		td.important.table-#{$color}
		{
			// background-color: $value;
			&::before
			{
				background-color: $value;
			}
		}
	}
}