.table-wrap
{
	overflow: auto;
}

table.pretty-table
{
	border-collapse:separate; 
	border-spacing: 0 1em;
	white-space: nowrap;
	margin: 0;
	background-color: transparent;

	thead
	{
		text-transform: uppercase;
		font-weight: 700;
	}

	tbody
	{
		font-size: 1.2em;
	}

	td,
	th
	{
		vertical-align: middle;
		padding: 0.6em 1.2em;

		&.expanded
		{
			width: 100%;
			text-align: left;
		}

		&.highlighted
		{
			font-weight: 900;
		}
	}

	th
	{
		&.important
		{
			font-weight: 900;
			font-size: 1.2em;
			background-color: transparent;
		}

		&.highlighted
		{
			font-size: 1.2em;
		}
	}

	td
	{
		&:first-of-type,
		&.important + td
		{
			@include border-left-radius($border-radius);
		}

		&:last-of-type
		{
			@include border-right-radius($border-radius);
		}

		&.important
		{
			position: relative;
			background-color: transparent !important; // FIX: Remove important
			padding-right: 2.4em;
			transition: 0.3s linear;
			color: $i-fifth;

			// FIX: Move to link
			&:hover
			{
				animation: 1s animation-bounce;

				&::before
				{
					background-color: $i-primary !important; // FIX: Remove important
				}

				a:hover
				{
					color: inherit;
				}
			}

			&.table-i-primary
			{
				&:hover
				{
					&::before
					{
						background-color: $i-fourth !important; // FIX: Remove important
					}
				}
			}

			&::before
			{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				width: 95%;
				height: 100%;
				transition: 0.3s linear;
				@include border-radius($border-radius);
			}
		}
	}

	@each $color, $value in $theme-colors
	{
		&[variant="#{$color}"]
		{
			td
			{
				background-color: rgba($value, 0.1);
			}
		}

		th.important.table-#{$color}
		{
			color: $value;
		}

		td.important.table-#{$color}
		{
			&::before
			{
				background-color: $value;
			}
		}
	}
}