.section
{
	position: relative;

	&::before
	{
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		width: 100vw;
		height: 100%;
		transform: translate(-50%);
		z-index: -1;
	}

	@each $color, $value in $theme-colors
	{
		&[color="#{$color}"]::before
		{
			background-color: $value;
		}
	}
}

@each $color, $value in $theme-colors
{
	.section[color="#{$color}"]::before,
	.sub-section[color="#{$color}"]
	{
		background-color: $value;
	}
}

.layout
{
	padding: 0;
}	