[effect="blur"]
{
	position: relative;

	&::after
	{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		filter: blur(8px);
	}

	@each $color, $value in $theme-colors
	{
		&[variant="#{$color}"]
		{
			color: $value;

			&::after
			{
				background-color: $value;
			}
		}
	}
}

[effect="gray"]
{
	filter: grayscale(1) opacity(0.75);
	transition: 0.3s linear;

	&:hover
	{
		filter: grayscale(0);
	}
}

@each $color, $value in $theme-colors
{
	[effect-color="#{$color}"]:hover
	{
		background-color: $value;
	}
}