@use '../../variables/colors/colors.scss' as COLOR;

%BUTTON_BASE
{
	text-transform: uppercase;
	color: COLOR.$fifth;
	
	&[color]
	{
		display: inline-block;
		font-size: 0.8em;
		padding: 0.75em 1.25em;
		border-radius: 0.75em;
	}

	&[color="primary"]
	{
		background-color: COLOR.$primary;
		border-color: COLOR.$primary;
	}

	&[color="fourth"]
	{
		background-color: COLOR.$fourth;
		border-color: COLOR.$fourth;
	}

	&[color="fourthB"]
	{
		background-color: COLOR.$fourthB;
		border-color: COLOR.$fourthB;
	}
}