[control="text"]
{
	background-color: transparent;
	font-size: 1em;
	padding: 1.5em 1em;
	border-radius: 0;
	
	@each $color, $value in $theme-colors
	{
		&[variant=#{$color}]
		{
			color: inherit;
			border: 0.2em solid $value;

			&::placeholder
			{
				color: inherit;
				opacity: 0.8;
			}
		}
	}
}