@mixin INPUT_TEXT
{
	input[type="text"]
	{
		font-size: 1em;
		width: 100%;
		padding: 0.8em;
		color: $COLOR_fifth;
		background-color: transparent;
		border: 0.2em solid $COLOR_fourthB;
		border-radius: 0.4em;
		outline: 0;
		transition: 0.3s linear;

		&::placeholder
		{
			color: $COLOR_fifth;
		}

		&:focus,
		&:active,
		&:-webkit-autofill
		{
			border-color: $COLOR_fifth;
		}
	}
}