// base grayscale colors definitions
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// base colors definitions
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// theme colors
$body-bg: #fff;
$body-color: #596065;
$primary: #fff;
$primary2: #001c71;
$secondary: #e6007a;
$success: #068642;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-500 !default;
$dark: $gray-900;

// set theme colors (variant names)
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'primary2': $primary2,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark,
  ),
  $theme-colors
);

// bootstrap variable overrides
$link-color: $primary2 !default;
$border-radius: 0.4rem !default;
$border-radius-lg: 0.4rem !default;
$border-radius-sm: 0.4rem !default;
$pagination-color: $primary2 !default;
$pagination-bg: $white !default;
$pagination-border-color: $primary2 !default;
$pagination-hover-color: $white !default;
$pagination-hover-bg: $primary2 !default;
$pagination-hover-border-color: $primary2 !default;
$pagination-active-color: $primary2 !default;
$pagination-active-bg: $white !default;
$pagination-active-border-color: $primary2 !default;
$pagination-disabled-color: $primary2 !default;
$pagination-disabled-bg: $white !default;
$pagination-disabled-border-color: $primary2 !default;
$nav-tabs-link-active-color: $body-color !default;
$hr-border-color: rgba(255, 255, 255, 0.2) !default;
$custom-control-indicator-checked-bg: $primary2 !default;
$custom-control-indicator-focus-border-color: $gray-600 !default;
$custom-control-indicator-bg: $white !default;
$h1-font-size: 1.6rem !default;
$table-border-color: #c6d7e8 !default;
$table-accent-bg: #c2d7ec2b !default;

$custom-range-thumb-bg: $primary2;
$custom-range-thumb-active-bg: $primary2;

// import bootstrap scss
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

// global styles
@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
}
.logo {
  height: 40px;
}
.explorer {
  text-align: inherit;
  vertical-align: bottom;
  font-size: 1rem;
  font-weight: 600;
  color: #5531a938;
  letter-spacing: 0.33rem;
  text-shadow: aliceblue;
}
.navbar-dark {
  border-bottom: 1px solid #fdf5f5cc;
}
.custom-switch .custom-control-label {
  cursor: pointer;
}
.hr {
  color: gray;
}
.toast-body {
  word-break: break-all;
}
pre {
  font-size: initial;
  color: $light;
}
.navbar .nav-item {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}
ul {
  list-style: none;
  padding-left: 0;
}
h1 {
  text-transform: uppercase;
}
.break-all {
  word-break: break-all;
}
.fiat {
  color: $primary2;
  font-weight: 100;
  text-decoration: none !important;
}
.g-recaptcha div {
  margin: 0 auto 1.2rem auto;
}

// footer
.footer {
  border-top: 1px solid #e9ecef;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
}


.nav-tabs .nav-item a {
  color: $light;
}

.identicon {
  cursor: pointer;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
.chain-info h4 {
  color: $body-color;
  font-weight: 100;
}

// network
.network {
  padding: 0.6rem;
  font-weight: 100;
  margin-left: 1rem;
}

.network button {
  background-color: $primary2;
  color: $white;
  font-size: 0.8rem;
}

// home page
.dashboard .clipboard {
  display: inline-block;
}
.dashboard .identicon {
  margin-right: 0.2rem;
  cursor: copy;
}
.dashboard h3, .dashboard .h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

// blocks page
.last-blocks .table th,
.last-blocks .table td {
  padding: 0.45rem;
}
.last-blocks .table thead th {
  border-bottom: 0;
}
.last-blocks .identicon {
  display: inline-block;
  margin: 0 0.2rem 0 0;
  cursor: copy;
}

// accounts page
#accounts-table th {
  text-align: center;
}
.page-accounts .identicon {
  display: inline-block;
}
.loading div {
  position: absolute;
  border: 4px solid $primary2;
  opacity: 1;
  border-radius: 50%;
  animation: loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.page-accounts td div {
  padding: 0 !important;
}
.btn-group {
  margin-bottom: 1rem;
  display: inline-flex;
}
.btn-primary2 {
  font-size: 0.8rem;
}
.download-csv {
  cursor: pointer;
  text-align: right;
}

.page-accounts table td,
.page-accounts table th {
  padding: 0.45rem;
}
@media (max-width: 767.98px) {
  .page-accounts .table.b-table.b-table-stacked-md > tbody > tr > [data-label]::before {
    display: none;
  }
  .page-accounts  .table.b-table.b-table-stacked-md > tbody > tr > [data-label] > div {
    width: 100%;
  }
}

// block page
.block-table tr td:first-child {
  width: 30%;
  font-weight: bold;
}
.block-table tr td:nth-child(2) {
  width: 70%;
}
.block-table tr td .identicon {
  display: inline-block;
}
.block-page .amount {
  color: $primary2;
  font-weight: 700;
}
.block-page .clipboard {
  display: inline-block;
}

// account page
.account-page .table tr td .identicon {
  display: inline-block;
}
.account-page .amount {
  color: $primary2;
  font-weight: 700;
}
.account-page .fiat {
  color: $primary2;
  font-size: 1rem;
  font-weight: 200;
}

// extrinsic page
.extrinsic-table tr td:first-child {
  width: 30%;
  font-weight: bold;
}
.extrinsic-table tr td:nth-child(2) {
  width: 70%;
}
.extrinsic-page .amount {
  color: $primary2;
  font-weight: 700;
}
.extrinsic-page .clipboard {
  display: inline-block;
}

// loading
.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  text-align: center;
}
.loading div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes loading {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.contract-page pre {
  background-color: $gray-100;
  color: $gray-600;
  font-size: 0.8rem;
  padding: 1rem;
}

.contract-page table tr td:first-child {
  width: 20%;
}

.eth-identicon {
  cursor: pointer;
}

.network-logo {
  width: 1rem;
  height: 1rem;
  margin-right: 0.2rem;
}

/* ----------------------- Footer Styles -------------------------- */

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#footer {
  background-color: #2d2f33;
  padding: 0 0 1rem 0;
}

#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #fff;
}

#footer a {
  color: #fff;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
  padding: 3px 12px 0 0;
}

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 18px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

#footer ul.quick-links li a i {
  margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

#footer ul.social li:hover a i {
  font-size: 24px;
  margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
  color: #fff;
}

#footer ul.social li a:hover {
  color: #eee;
}

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}

#footer .small {
  font-size: 0.9rem;
}

#footer .logo {
  max-width: 400px;
  width: 100%;
}

.bat {
  max-width: 18px;
  vertical-align: middle;
  margin-left: 0.1rem;
}

.kusama-logo,
.polkadot-logo {
  width: 100%;
  max-width: 120px;
}

.table {
  background-color: white;
}

.badget-container {
  justify-content: center;
  margin: 0;
}

.grant-badge {
  width: 75%;
  max-width: 200px;
}

/* GitHub corner */

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
  .github-corner:hover .octo-arm {
    animation: none;
  }
}

// ranking component
.elected-icon {
  color: $white;
  font-size: 1.6rem;
  border: 2px solid rgb(128 128 128 / 49%);
  border-radius: 50%;
}
.not-elected-icon {
  color: $white;
  font-size: 1.6rem;
  border: 2px solid rgb(128 128 128 / 49%);
  border-radius: 50%;
}
.custom-switch.b-custom-control-lg .custom-control-label,
.input-group-lg .custom-switch .custom-control-label {
  font-size: 0.9rem;
}
.widget {
  padding: 1rem 1rem 0.5rem 1rem;
  border: 1px solid $gray-100;
  border-radius: $border-radius;
  box-shadow: 0 8px 20px 0 rgb(40 133 208 / 15%);
}
.widget-title {
  font-size: 0.9rem;
  margin-bottom: 0;
}
.select {
  cursor: pointer;
}
.ranking .select .selected,
.ranking .select .unselected {
  font-size: 1.2rem;
}
.selected-per-page {
  color: $primary;
  background-color: $primary2;
}
.progress-bar {
  color: $gray-700;
  background-color: #00effc;
}
.xl-switch {
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  padding: 10px;
}
.collapsed > .when-open,
.not-collapsed > .when-closed {
  display: none;
}
.text-selected {
  color: #00effc;
}

// rating component
.rating {
  font-size: 1rem;
}

// validator page
.metric {
  border: 1px solid gray;
  border-radius: $border-radius;
  padding: 1rem;
}
.validator-page .card-body {
  position: relative;
}
.validator-page .verified {
  font-size: 2rem;
  cursor: pointer;
}
.metric .description {
  color: $light;
}
.csv-export {
  cursor: pointer;
}

// verifiedIcon component
.verified .circle {
  color: #0fccd6;
}
.verified .fa-check {
  color: white;
}

@media (max-width: 768px) {
  .btn {
    font-size: 0.8rem !important;
  }
}

// extrinsic events component
.extrinsic-events .table th,
.extrinsic-events .table td {
  padding: 0.45rem;
}
.extrinsic-events .table thead th {
  border-bottom: 0;
}
.extrinsic-events .identicon {
  display: inline-block;
  margin: 0 0.2rem 0 0;
  cursor: copy;
}

// last activity component
.last-activity .table th,
.last-activity .table td {
  padding: 0.45rem;
}
.last-activity .table thead th {
  border-bottom: 0;
}
.last-activity .identicon {
  display: inline-block;
  margin: 0 0.2rem 0 0;
  cursor: copy;
}

// last events component
.last-events .table th,
.last-events .table td {
  padding: 0.45rem;
}
.last-events .table thead th {
  border-bottom: 0;
}
.last-events .identicon {
  display: inline-block;
  margin: 0 0.2rem 0 0;
  cursor: copy;
}

// last extrinsics component
.last-extrinsics .table th,
.last-extrinsics .table td {
  padding: 0.45rem;
}
.last-extrinsics .table thead th {
  border-bottom: 0;
}
.last-extrinsics .identicon {
  display: inline-block;
  margin: 0 0.2rem 0 0;
  cursor: copy;
}

// last transfers component
.last-transfers .table th,
.last-transfers .table td {
  padding: 0.45rem;
}
.last-transfers .table thead th {
  border-bottom: 0;
}
.last-transfers .identicon {
  display: inline-block;
  margin: 0 0.2rem 0 0;
  cursor: copy;
}

// top rich component
.top-10-rich .table th,
.top-10-rich .table td {
  padding: 0.45rem;
}
.top-10-rich .table thead th {
  border-bottom: 0;
}
.top-10-rich .identicon {
  display: inline-block;
  margin: 0 0.2rem 0 0;
  cursor: copy;
}

.form-control:focus,
.custom-select:focus {
  border-color: #001c71;
}

// extrinsic doc
.extrinsic-doc ul {
  list-style: disc;
  padding-left: 1rem;
}
.extrinsic-doc hr {
  border-top: 1px solid gray;
}
.extrinsic-doc a {
  pointer-events: none;
  color: #e83e8c;
  word-wrap: break-word;
}
.extrinsic-doc code {
  font-size: 100%;
}
.extrinsic-doc h1 {
  font-size: 0.8rem;
}

.extrinsic-arg hr {
  border-top: 1px solid #e83e8c;
}

// dashboard
.dashboard-global-stats .stat {
  font-size: 2rem;
  font-weight: 200;
}
.dashboard-global-stats .box {
  padding: 1rem 0.5rem;
  border: 1px solid rgb(226, 224, 224);
}

.amount {
  color: $primary2;
  font-weight: 700;
}

.selected-validators .dropdown-menu {
  width: 400px;
  padding: 1rem;
  color: gray;
}
.selected-validators .dropdown-menu a span {
  color: gray;
}

.selected-validators .nominate,
.selected-validators .clear {
  font-size: 0.8rem;
}

.reload {
  cursor: pointer;
}