// base grayscale colors definitions
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// base colors definitions
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// theme colors
$body-bg: #fff;
$body-color: #596065;
$primary: #fff;
$primary2: #001C71;
$secondary: $gray-600;
$success: #068642;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-500 !default;
$dark: $gray-900;

// set theme colors (variant names)
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'primary2': $primary2,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark,
  ),
  $theme-colors
);

// bootstrap variable overrides
$link-color: $primary2 !default;
$border-radius: 0.4rem !default;
$border-radius-lg: 0.4rem !default;
$border-radius-sm: 0.4rem !default;
$pagination-color: $secondary !default;
$pagination-bg: $white !default;
$pagination-border-color: $secondary !default;
$pagination-hover-color: $white !default;
$pagination-hover-bg: $primary2 !default;
$pagination-hover-border-color: $secondary !default;
$pagination-active-color: $primary2 !default;
$pagination-active-bg: $white !default;
$pagination-active-border-color: $secondary !default;
$pagination-disabled-color: $secondary !default;
$pagination-disabled-bg: $white !default;
$pagination-disabled-border-color: $secondary !default;
$nav-tabs-link-active-color: $body-color !default;
$hr-border-color: rgba(255, 255, 255, 0.2) !default;
$custom-control-indicator-checked-bg: $primary2 !default;
$custom-control-indicator-focus-border-color: $gray-600 !default;
$h1-font-size: 1.6rem !default;
$table-border-color: #c6d7e8 !default;
$table-accent-bg: #c2d7ec2b !default;

// import bootstrap scss
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

// global styles
@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
}
.logo {
  height: 64px;
}
.explorer {
  text-align: inherit;
  vertical-align: bottom;
  font-size: 1rem;
  font-weight: 600;
  color: #5531a938;
  letter-spacing: 0.33rem;
  text-shadow: aliceblue;
}
.navbar-dark {
  border-bottom: 1px solid#fdf5f5cc;
}
.custom-switch .custom-control-label {
  cursor: pointer;
}
.hr {
  color: gray;
}
.toast-body {
  word-break: break-all;
}
pre {
  font-size: initial;
  color: $light;
}
.navbar .nav-item {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}
ul {
  list-style: none;
  padding-left: 0;
}
h1 {
  text-transform: uppercase;
}
.break-all {
  word-break: break-all;
}
.fiat {
  color: $primary2;
  font-weight: 100;
  text-decoration: none !important;
}
.g-recaptcha div {
  margin: 0 auto 1.2rem auto;
}

// footer
.footer {
  border-top: 1px solid #e9ecef;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
}


.nav-tabs .nav-item a {
  color: $light;
}

.identicon {
  cursor: pointer;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
.chain-info h4 {
  color: $body-color;
  font-weight: 100;
}

// network
.network {
  padding: 0.6rem;
  font-weight: 100;
  margin-left: 1rem;
}

.network button {
  background-color: $primary2;
  color: $white;
  font-size: 0.8rem;
}

// home page
.dashboard .clipboard {
  display: inline-block;
}
.dashboard .identicon {
  margin-right: 0.2rem;
  cursor: copy;
}
.dashboard h3, .dashboard .h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

// blocks page
.last-blocks .identicon {
  display: inline-block;
  margin: 0 0.2rem 0 0;
  cursor: copy;
}

// accounts page
#accounts-table th {
  text-align: center;
}
.page-accounts .identicon {
  display: inline-block;
}
.loading div {
  position: absolute;
  border: 4px solid $primary2;
  opacity: 1;
  border-radius: 50%;
  animation: loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.page-accounts td div {
  padding: 0 !important;
}
.btn-group {
  margin-bottom: 1rem;
  display: inline-flex;
}
.btn-secondary {
  font-size: 0.8rem;
}
.download-csv {
  cursor: pointer;
  text-align: right;
}
@media (max-width: 767.98px) {
  .page-accounts .table.b-table.b-table-stacked-md > tbody > tr > [data-label]::before {
    display: none;
  }
  .page-accounts  .table.b-table.b-table-stacked-md > tbody > tr > [data-label] > div {
    width: 100%;
  }
}

// block page
.block-table tr td:first-child {
  width: 30%;
  font-weight: bold;
}
.block-table tr td:nth-child(2) {
  width: 70%;
}
.block-table tr td .identicon {
  display: inline-block;
}
.block-page .amount {
  color: $primary2;
  font-weight: 700;
}
.block-page .clipboard {
  display: inline-block;
}

// account page
.account-page .table tr td .identicon {
  display: inline-block;
}
.account-page .amount {
  color: $primary2;
  font-weight: 700;
}
.account-page .fiat {
  color: $primary2;
  font-size: 1rem;
  font-weight: 200;
}

// extrinsic page
.extrinsic-table tr td:first-child {
  width: 30%;
  font-weight: bold;
}
.extrinsic-table tr td:nth-child(2) {
  width: 70%;
}
.extrinsic-page .amount {
  color: $primary2;
  font-weight: 700;
}
.extrinsic-page .clipboard {
  display: inline-block;
}

// loading
.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  text-align: center;
}
.loading div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes loading {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.contract-page pre {
  background-color: $gray-100;
  color: $gray-600;
  font-size: 0.8rem;
  padding: 1rem;
}

.contract-page table tr td:first-child {
  width: 20%;
}

.eth-identicon {
  cursor: pointer;
}
