@mixin TOOLTIP
{
	[tooltip]
	{
		position: relative;
	
		&::after
		{
			content: attr(tooltip);
			background-color: $COLOR_fourthB;
			color: $COLOR_fifth;
			padding: 0.8em 1em;
			margin-bottom: 0.5em;
			white-space: nowrap;
			font-family: inherit;
			font-size: 0.8em;
			opacity: 0;
			visibility: hidden;
			transition: 0.3s linear;
	
			position: absolute;
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%);
		}
	
		&:hover
		{
			&::after
			{
				opacity: 1;
				visibility: visible;
			}
		}
	}

	[modal]
	{
		cursor: pointer;

		> [modal-content]
		{
			background-color: $COLOR_fourthB;
			color: $COLOR_fifth;
			padding: 0.8em 1em;
			margin-bottom: 0.5em;
			white-space: nowrap;
			font-family: inherit;

			opacity: 0;
			visibility: hidden;
			transition: 0.3s linear;
	
			position: absolute;
		}

		> [modal-content="top-center"]
		{
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%);
		}

		> [modal-content="top-left"]
		{
			bottom: 100%;
		}
	}

	[modal="tooltip"]
	{
		position: relative;

		> [modal-content]::before
		{
			content: '';
			border: 0.5em solid transparent;
			border-top-color: $COLOR_fourthB;
			position: absolute;
			top: 100%;
			left: 1em;
		}

		&:hover > [modal-content]
		{
			opacity: 1;
			visibility: visible;
		}
	}
}
