@import './variables/all.scss';

@import './root/base.scss';

.pkd
{
	font-family: $i-font-primary;
	color: $i-fourth;
	font-size: 10px;

	@import './root/theme.scss';

	@import './modules/status.scss';
	@import './modules/container.scss';
	@import './modules/headers.scss';
	@import './modules/image.scss';
	@import './modules/menu.scss';
	@import './modules/form.scss';

	@import './modules/layouts.scss';

	main.frame
	{
		@import './modules/sections.scss';
	}

	@import './modules/responsive.scss';
}