.b-nav-dropdown,
.b-dropdown
{
	.dropdown-toggle::after
	{
		display: none;
	}
	
	.dropdown-menu
	{
		font-size: 1em;
		color: $i-fifth;
		text-transform: none;
		
		// TODO: Move to inherit effect
		&::before
		{
			content: "";
			position: absolute;

			border: 0.8em solid transparent;
			border-width: 1em 0.6em;
		}

		.dropdown-item
		{
			background-color: transparent;
			padding: 1.2em 2em;
			opacity: 0.6;
			color: inherit;

			&:hover
			{
				opacity: 1;
			}
		}

		&:not([x-placement]),
		&[x-placement="bottom-start"]
		{
			margin-top: 1.6em;

			&::before
			{
				border-bottom-color: inherit;
				bottom: 100%;
				left: 1em;
			}
		}

		&[x-placement="top-start"]
		{
			margin-top: -1.6em;

			&::before
			{
				border-top-color: inherit;
				top: 100%;
				left: 1em;
			}
		}
	}

	@each $color, $value in $theme-colors
	{
		&[variant=#{$color}],
		&[variants=#{$color}]
		{
			.dropdown-menu
			{
				background-color: $value;
				border-color: $value;
			}
		}
	}
}

.custom-select
{
	padding: 0.75em 1em;
    height: auto;

	&[variant]
	{
		background-image: none;
		color: $i-fifth;
		background-color: transparent;
		border-width: 0.2em;
		font-size: 1em;
		appearance: auto;

		option
		{
			color: initial;
		}
	}
	
	@each $color, $value in $theme-colors
	{
		&[variant=#{$color}]
		{
			border-color: $value;
		}
	}
}