.form-control[control="text"]
{
	background-color: transparent;
	font-size: 1em;
	padding: 1.5em 1em;
	border-radius: 0;
	color: inherit;

	&::placeholder
	{
		color: inherit;
		opacity: 0.8;
	}
	
	@each $color, $value in $theme-colors
	{
		&[variant=#{$color}]
		{
			border: 0.2em solid $value;
		}
	}
}