.timeline
{
	@each $color, $value in $theme-colors
	{
		&[variant="#{$color}"]
		{
			.timeline-item::before
			{
				background-color: $value;
				border-color: $value;
			}

			.timeline-item:not(:last-of-type)::after
			{
				background-color: $value;
			}
		}
	}

	.timeline-item
	{
		display: block;
		position: relative;
		text-align: left;
		line-height: 0.8em;
		text-transform: capitalize;

		&::before
		{
			content: '';
			position: absolute;
			top: 0;
			right: 100%;
			border-radius: 50%;
			padding: 0.2em;
			margin-right: 0.4em;
			border: 0.2em solid transparent;
		}

		&:not(:first-of-type)::before
		{
			background-color: transparent;
		}

		&:not(:last-of-type)
		{
			margin-bottom: 0.6em;

			&::after
			{
				content: '';
				position: absolute;
				top: 0;
				right: 100%;
				margin-right: 0.7em;
				margin-top: 0.8em;
				width: 0.2em;
				height: 100%;
			}
		}
	}
}