$i-primary: #E6007A !default;
$i-secondary: #00bed6 !default;
$i-third: #001c71 !default;
$i-fourth: #161718 !default;
$i-fourthB: #000 !default;
$i-fifth: #FFF !default;

$theme-colors: () !default;
$theme-colors: map-merge(
(
	'i-primary': $i-primary,
	'i-secondary': $i-secondary,
	'i-third': $i-third,
	'i-fourth': $i-fourth,
	'i-fourthB': $i-fourthB,
	'i-fifth': $i-fifth,
),
$theme-colors);

/* Gradient Colors */
$i-gradient-primary: linear-gradient(to right, $i-primary, $i-secondary) !default;
$i-gradient-secondary: linear-gradient(to right, $i-primary, $i-third) !default;
$i-gradient-third: linear-gradient(to bottom, $i-third, $i-secondary) !default;

$theme-gradients: () !default;
$theme-gradients: map-merge(
(
	'i-gradient-primary': $i-gradient-primary,
	'i-gradient-secondary': $i-gradient-secondary,
	'i-gradient-third': $i-gradient-third,
),
$theme-gradients);
