@mixin RES_1024p
{
	@media only screen and (max-width: 1024px)
	{
		.frame
		{
			font-size: 1em;
		}

		header.frame
		{
			> h2
			{
				display: block;
			}

			> strong
			{
				flex: 1;

				&::before
				{
					opacity: 0;
				}
			}

			> nav
			{
				display: none;
			}
		}
	}
}

