@media only screen and (max-width: 720px)
{
	header.frame
	{
		position: sticky;
		z-index: 10;
		top: 0;

		.navbar 
		{
			position: relative;
		}
		
		[icon="kusama"]::after
		{
			opacity: 0;
		}

		.section,
		.section:not([active])
		{
			max-width: 100%;

			&::before
			{
				opacity: 1 !important; // FIX: Remove important
			}
		}

		// FIX: Remove
		.btn
		{
			font-size: 1em !important;
		}

	}

	main.frame
	{
		max-width: 100%;
		padding: 0;

		> .section
		{
			padding: 1.8em 2em;
		}

		.section-header
		{
			padding: 0;
			gap: 0;
		}

		.section.tables
		{
			article
			{
				> div
				{
					overflow: auto;
				}
			}
		}
	}

	footer.frame
	{
		> article
		{
			position: unset;
			transform: none;
		}

		address
		{
			float: none;
			flex-direction: row;
		}
	}
}