@mixin RES_720p
{
	@media only screen and (max-width: 720px)
	{
		header.frame
		{
			position: sticky;
			left: 0;
			transform: none;
			
			&::before
			{
				opacity: 1;
			}

			> [brand]
			{
				flex: 1;
			}

			> strong
			{
				flex: unset;
			}

			> ul
			{
				display: none;
			}

		}
	
		main.frame
		{
			max-width: 100%;
			padding: 0;

			> section
			{
				padding: 1.8em 2em;
			}
	
			> section.scores
			{

				padding: 0;
				gap: 0;
				
				// > header
				// {
				// 	display: none;
				// }
				
				> article::before,
				> article::after
				{
					border-radius: 0;
				}
			}
	
			> section.tables
			{
				article
				{
					min-width: 100%;
					overflow: auto;
				}
			}
	
			> section.chart
			{
				> div
				{
					max-height: 20em;
				}
			}
		}
	
		footer.frame
		{
			flex-wrap: wrap;
	
			> article
			{
				position: unset;
				transform: none;
			}
	
			> address
			{
				float: none;
				flex-direction: row;
	
				> [color="primary"]
				{
					flex: 1;
				}
			}
		}
	}
}