@media only screen and (max-width: 720px)
{
	header.frame
	{
		position: sticky;
		z-index: 10;
		top: 0;

		.navbar 
		{
			position: relative;
		}
		
		[icon="kusama"]::after
		{
			opacity: 0;
		}

		.section,
		.section:not([active])
		{
			max-width: 100%;

			&::before
			{
				opacity: 1 !important;
			}
		}

		.btn
		{
			font-size: 1em !important;
		}

	}

	main.frame
	{
		max-width: 100%;
		padding: 0;

		> section
		{
			padding: 1.8em 2em;
		}

		> section.scores
		{

			padding: 0;
			gap: 0;
			
			> article::before,
			> article::after
			{
				border-radius: 0;
			}
		}

		> section.tables
		{
			article
			{
				min-width: 100%;
				overflow: auto;
			}
		}

	}

	footer.frame
	{
		flex-wrap: wrap;

		> article
		{
			position: unset;
			transform: none;
		}

		> address
		{
			float: none;
			flex-direction: row;

			> [color="primary"]
			{
				flex: 1;
			}
		}
	}
}