$COLOR_primary: #E6007A !default;
$COLOR_secondary: #00bed6 !default;
$COLOR_third: #001c71 !default;
$COLOR_fourth: #161718 !default;
$COLOR_fourthB: #000 !default;
$COLOR_fifth: #FFF !default;

$GRADIENT_primary: linear-gradient(to right, $COLOR_primary, $COLOR_secondary) !default;
$GRADIENT_secondary: linear-gradient(to right, $COLOR_primary, $COLOR_third) !default;
$GRADIENT_third: linear-gradient(to bottom, $COLOR_third, $COLOR_secondary) !default;
