header[type="block"]
{
	margin: 1.6em 0;

	> h1
	{
		white-space: nowrap;
		
		&::before,
		&::after
		{
			content: '';
			margin: 0 0.8em;
			margin-top: -0.2em;
			width: 1.8em;
			height: 0.2em;
			border-radius: 0.2em;
			display: inline-block;
			vertical-align: middle;
		}

		@each $color, $value in $theme-colors
		{
			&[variant="#{$color}"]
			{
				color: $value;

				&::before,
				&::after
				{
					background-color: $value;
				}
			}
		}
	}
}