$i-primary: #001c71 !default;
$i-secondary: #00bed6 !default;
$i-third: #001c71 !default;
// $i-fourth: #000 !default;
// $i-fourthB: #161718 !default;
// $i-fifth: pink !default;

// $i-gradient-primary: linear-gradient(to right, $i-primary, $i-secondary) !default;
// $i-gradient-secondary: linear-gradient(to right, $i-primary, $i-third) !default;
$i-gradient-third: linear-gradient(to bottom, $i-third, $i-third) !default;
