$i-primary: gray !default;
$i-secondary: blue !default;
$i-third: yellow !default;
$i-fourth: orange !default;
$i-fourthB: green !default;
$i-fifth: pink !default;

$i-gradient-primary: linear-gradient(to right, $i-primary, $i-secondary) !default;
$i-gradient-secondary: linear-gradient(to right, $i-primary, $i-third) !default;
$i-gradient-third: linear-gradient(to bottom, $i-third, $i-secondary) !default;
