/* Networks */

[icon-network]::before
{
	content: '';
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	vertical-align: text-bottom;
	background-color: $i-fifth;
	mask-size: contain;
	mask-repeat: no-repeat;
}

@each $name, $value in $theme-networks
{
	[icon-network="#{$name}"]::before
	{
		mask-image: url('/img/networks/logos/' + $value + '.svg');
	}
}

@each $name, $value in $theme-colors
{
	[icon-network][variant="#{$name}"]::before
	{
		background-color: $value;
	}
}

/* End Networks */